**
!pyproject.toml
!LICENSE
!NOTICE
!README.public.md
!buna
!buna/*.py
!frontend
!frontend/src
!frontend/src/theme.css
!deploy
!deploy/Dockerfile
!deploy/smoke_public.py
!deploy/benchmark_hosted.py
!deploy/verify_shared.py
!release-context
!release-context/wheels
!release-context/wheels/*.whl
!release-context/hosted-corpus-runtime-v2
!release-context/hosted-corpus-runtime-v2/*.json
!release-context/hosted-corpus-runtime-v2/*.pdf
!release-context/hosted-corpus-runtime-v2/*.txt
